/* CSS styling for  the overall layout of the app and layouts for responsive designs for mobile & desktop*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ------------ GLOBAL LAYOUT CSS ------------------- */

body {
  padding-top: 120px;
  color: #545149;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

.container {
  color: #545149;
  width: 90%;
  margin: 0 auto;
}

#tweet-container article {
  border: 3px black solid;
  padding: 10px;
  margin-bottom: 15px;

}

#tweet-container article:hover {
  box-shadow: 5px 5px #888888;
}

#tweet-container {
  margin-top: 50px; 
}

#tweet-container header {
  margin: 10px;
  display: flex;
}

.user {
  display: none;
  font-weight: 700;
  color: #D2D6E5;
  margin-left: auto;
}

.user-Tweet {
  margin-left: 10px;
}

.user-Tweet p {
  word-break: break-word;
}

#tweet-container footer {
  border-top: 3px black solid; 
  display: flex;
}

.date {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 700;
}

.footer-icons .fas {
  color: #4056A1;
  margin-left: 5px;
}

.footer-icons {
  margin-right: 24px;
  margin-left: auto;
  margin-top: 10px;
  font-size: 15px;
  display: none;
}

#tweet-container article:hover .footer-icons {
  display: block;
}

#tweet-container article:hover .user{
  display: block;
}

.avatar {
  margin-top: 10px;
  margin-right: 10px;
  height: 50px;
}

.new-tweet {
  margin-top: 50px;
}

/* -------------- RESPONSIVE DESIGN CSS FOR DESKTOP -------------- */

@media only screen and (min-width: 1024px)  {

  body {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    order: 1;
  }

  .header-main {
    flex-shrink: 2;
    flex-grow: 1;
  }

  .header-container {
    display: flex;
    order: 2;
    margin: 40px 50px;
  }

  .container {
    margin-left: 160px;
  }
}

.footer-icons i:hover {
  color: red;
}

/*-------------- RESPONSIVE DESIGN CSS FOR SMARTPHONE MOBILE -------------------- */

@media only screen and (max-width: 420px) {
  nav {
    position: static;
    background-color: #ffb307;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .compose {
    margin: 0;
  }

  nav span {
    padding-bottom: 20px;
  }
}
