.button1 {
    background-color: #4056A1;
    color: white;
    font-family:'Bungee', cursive;
}

.counter {
    font-family:'Bungee', cursive;
    float: right;
}

.red{
    color: red;
}

.label {
    font-weight: 700;
    font-size: medium;
}

textarea {
    width: 100%;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: medium;
    resize: none;
}

#error {
    display: none;
    text-align: center;
    height: 50px;
    border: red 2px solid;
    color: red;
    font-family: 'Source Sans Pro', sans-serif;
}
