/* -------CSS styling for the new tweet container that displays where the user inputs a new tweet----------- */

.button1 {
    background-color: #4056A1;
    color: white;
    font-family:'Bungee', cursive;
}
.counter {
    font-family:'Bungee', cursive;
    float: right;
}

.red{
    color: red;
}

.label {
    font-weight: 700;
    font-size: medium;
}

textarea {
    width: 100%;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: medium;
    resize: none;
}

#error {
    display: none;
    height: 50px;
    border: red 2px solid;
    color: red;
    padding: 10px;
    margin: 50px 0;
}

.error-message {
    font-family: 'Source Sans Pro', sans-serif;

}
.new-tweet {
    display: none;
}


